
body.iframe-mode .main-sidebar {
    display: none;
  }
  
  body.iframe-mode .content-wrapper {
    margin-left: 0 !important;
    margin-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  body.iframe-mode .main-header,
  body.iframe-mode .main-footer {
    display: none;
  }
  
  body.iframe-mode-fullscreen {
    overflow: hidden;
  }
  
  .content-wrapper {
    height: 100%;
  }
  
  .content-wrapper.iframe-mode .btn-iframe-close {
    color: #dc3545;
    position: absolute;
    line-height: 1;
    right: .125rem;
    top: .125rem;
    z-index: 10;
    visibility: hidden;
  }
  
  .content-wrapper.iframe-mode .btn-iframe-close:hover, .content-wrapper.iframe-mode .btn-iframe-close:focus {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: visible;
  }
  
  @media (hover: none) and (pointer: coarse) {
    .content-wrapper.iframe-mode .btn-iframe-close {
      visibility: visible;
    }
  }
  
  .content-wrapper.iframe-mode .navbar-nav {
    overflow-y: auto;
    width: 100%;
  }
  
  .content-wrapper.iframe-mode .navbar-nav .nav-link {
    white-space: nowrap;
  }
  
  .content-wrapper.iframe-mode .navbar-nav .nav-item {
    position: relative;
  }
  
  .content-wrapper.iframe-mode .navbar-nav .nav-item:hover .btn-iframe-close, .content-wrapper.iframe-mode .navbar-nav .nav-item:focus .btn-iframe-close {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: visible;
  }
  
  @media (hover: none) and (pointer: coarse) {
    .content-wrapper.iframe-mode .navbar-nav .nav-item:hover .btn-iframe-close, .content-wrapper.iframe-mode .navbar-nav .nav-item:focus .btn-iframe-close {
      visibility: visible;
    }
  }
  
  .content-wrapper.iframe-mode .tab-content {
    position: relative;
  }
  
  .content-wrapper.iframe-mode .tab-pane + .tab-empty {
    display: none;
  }
  
  .content-wrapper.iframe-mode .tab-empty {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .content-wrapper.iframe-mode .tab-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    background-color: #f4f6f9;
  }
  
  .content-wrapper.iframe-mode .tab-loading > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .content-wrapper.iframe-mode iframe {
    border: 0;
    width: 100%;
    height: 100%;
    margin-bottom: -8px;
  }
  
  .content-wrapper.iframe-mode iframe .content-wrapper {
    padding-bottom: 0 !important;
  }
  
  body.iframe-mode-fullscreen .content-wrapper.iframe-mode {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-left: 0 !important;
    height: 100%;
    min-height: 100%;
    z-index: 1048;
  }
  
  .permanent-btn-iframe-close .btn-iframe-close {
    -webkit-animation: none !important;
    animation: none !important;
    visibility: visible !important;
    opacity: 1;
  }
  
  .content-wrapper.kanban {
    height: 1px;
  }
  
  .content-wrapper.kanban .content {
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .content-wrapper.kanban .content .container,
  .content-wrapper.kanban .content .container-fluid,
  .content-wrapper.kanban .content .container-sm,
  .content-wrapper.kanban .content .container-md,
  .content-wrapper.kanban .content .container-lg,
  .content-wrapper.kanban .content .container-xl {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  
  .content-wrapper.kanban .content-header + .content {
    height: calc(100% - ((2 * 15px) + (1.8rem * 1.2)));
  }
  
  .content-wrapper.kanban .card .card-body {
    padding: .5rem;
  }
  
  .content-wrapper.kanban .card.card-row {
    width: 340px;
    display: inline-block;
    margin: 0 .5rem;
  }
  
  .content-wrapper.kanban .card.card-row:first-child {
    margin-left: 0;
  }
  
  .content-wrapper.kanban .card.card-row .card-body {
    height: calc(100% - (12px + (1.8rem * 1.2) + .5rem));
    overflow-y: auto;
  }
  
  .content-wrapper.kanban .card.card-row .card:last-child {
    margin-bottom: 0;
    border-bottom-width: 1px;
  }
  
  .content-wrapper.kanban .card.card-row .card .card-header {
    padding: .5rem .75rem;
  }
  
  .content-wrapper.kanban .card.card-row .card .card-body {
    padding: .75rem;
  }
  
  .content-wrapper.kanban .btn-tool.btn-link {
    text-decoration: underline;
    padding-left: 0;
    padding-right: 0;
  }
  